<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>오늘의 가계부</title>
    <script src="/static/js/test.js"></script>

    <link rel="stylesheet" href="/static/css/main.css""/>
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/jiyoung.css" />
    <link rel="stylesheet" href="/static/css/sehee.css" />
    <link rel="stylesheet" href="/static/css/hyori.css" />
  </head>
  <body>
    <div class="container1">
      <div class="article">
        <div class="article_left">
          <!-- 캘린더 입력 -->
          <div class="sec_cal">
            <div class="cal_nav">
              <a href="javascript:;" class="nav-btn go-prev">prev</a>
              <div class="year-month"></div>
              <a href="javascript:;" class="nav-btn go-next">next</a>
            </div>
            <div class="cal_wrap">
              <div class="days">
                <div class="day">MON</div>
                <div class="day">TUE</div>
                <div class="day">WED</div>
                <div class="day">THU</div>
                <div class="day">FRI</div>
                <div class="day">SAT</div>
                <div class="day">SUN</div>
              </div>
              <div class="dates"></div>
            </div>
          </div>
        </div>
        <div class="article_right">
          <!-- ul/li 입력 -->
        </div>
      </div>
      <div class="article_footer">
        <!-- 입금 지출 form 입력 -->
        <div class="form-main-box">
          <div class="won">￦</div>
          <input type="number" style="border: 0 solid black" />
        </div>
        <button
          type="button"
          style="border: 0 solid black"
          class="btn btn-pay1"
        >
          입금
        </button>
        <button
          type="button"
          style="border: 0 solid black"
          class="btn btn-pay2"
        >
          지출
        </button>
      </div>
    </div>
    <div class="container2">
      <!-- 1인 꿀팁 -->
    </div>
    <div class="footer">
      <!-- footer -->
    </div>
    <script src="/static/js/hyori.js"></script>
    <script src="/static/js/jiyoung.js"></script>
    <script src="/static/js/sehee.js"></script>
  </body>
</html>
