<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>오늘의 가계부</title>
    <!-- swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <script src="/static/js/test.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/css/main.css""/>
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/jiyoung.css" />
    <link rel="stylesheet" href="/static/css/sehee.css" />
    <link rel="stylesheet" href="/static/css/hyori.css" />
  </head>
  <body>
    <div class="container1">
      <div class="article">
        <div class="article_left">
          <!-- 캘린더 입력 -->
          <div class="sec_cal">
            <div class="cal_nav">
              <a href="javascript:;" class="nav-btn go-prev">prev</a>
              <div class="year-month"></div>
              <a href="javascript:;" class="nav-btn go-next">next</a>
            </div>
            <div class="cal_wrap">
              <div class="days">
                <div class="day">MON</div>
                <div class="day">TUE</div>
                <div class="day">WED</div>
                <div class="day">THU</div>
                <div class="day">FRI</div>
                <div class="day">SAT</div>
                <div class="day">SUN</div>
              </div>
              <div class="dates"></div>
            </div>
          </div>
        </div>
        <div class="article_right">
          <ul class="list" type="none">
            
            <li class="account-li">
              <div class="li-item category">식비</div>
              <div class="li-item name">코코넛오일</div>
              <div class="li-item price">5000원</div>
            </li>

          </ul>
        </div>
      </div>
      <div class="article_footer">
        <!-- 입금 지출 form 입력 -->

        <div class="form-main-box">
          <button
            type="button"
            style="border: 0"
            class="btn btn-pay1"
            onclick="aa()"
          >
            입금
          </button>
          <button
            type="button"
            style="border: 0"
            class="btn btn-pay2"
            onclick="bb()"
          >
            지출
          </button>

          <div class="credit">
            <!-- 입금-->
            <div class="won"></div>
            <!--form에서 입력한 값-->
            <div class="breakdown1" style="font-size: 30px">
              <label>
                ₩
                <input
                  type="text"
                  name="money"
                  id="money"
                  onkeyup="inputNumberFormat(this)"
              /></label>

              <label>내역: <input type="text" name="list" id="list" /></label>

              <button type="submit" class="enter">입력</button>

              

              <div class="d-flex">
                <button type="button" class="cd cd1">월급</button>
                <button type="button" class="cd cd2">용돈</button>
                <button type="button" class="cd cd3">이월</button>
                <button type="button" class="cd cd4">자산인출</button>
                <button type="button" class="cd cd5">기타</button>
              </div>
              
            </div>
            
          </div>

          <div class="expense">
            <!--지출-->
            <div class="won"></div>
            <!--form에서 입력한 값-->
            <div class="breakdown2" style="font-size: 30px">
              <label>
                ₩
                <input
                  type="text"
                  name="money"
                  id="money"
                  onkeyup="inputNumberFormat(this)"
              /></label>
              <label>내역: <input type="text" name="list" id="list" /></label>
              <button type="submit" class="enter">입력</button>

              <div class="d-flex">
                <button type="button" class="ep ep1">식비</button>
                <button type="button" class="ep ep2">여행</button>
                <button type="button" class="ep ep3">건강</button>
                <button type="button" class="ep ep4">교통</button>
                <button type="button" class="ep ep5">주거</button>
                <button type="button" class="ep ep6">통신</button>
                <button type="button" class="ep ep7">카페</button>
                <button type="button" class="ep ep8">생활</button>
                <button type="button" class="ep ep9">기타</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container2">

      
      <!-- 1인 꿀팁 -->
    
      <section id="tip">
        <div class="container">
          <h3 class="text "> #생활 태그  </h3>
          <h1 class="text tag_title">1인 생활 꿀팁</h1>
        </div>
        <div class="container">
          <div class="swiper slider">
            <div class="swiper-wrapper">
              <!-- Slide-start -->
              <div class="swiper-slide tip-slide">
                <div class="tip-slide-img">
                  <a href="https://www.thetip.kr/hacks4everyday/">
                    <img src="/static/img/life1.png" alt="life_tip">
                  </a>
                </div>
              </div>
              <!-- Slide-end -->
              <!-- Slide-start -->
              <div class="swiper-slide tip-slide">
                <div class="tip-slide-img">
                  <a href="https://post.naver.com/viewer/postView.nhn?volumeNo=6760692&memberNo=29961208">
                    <img src="/static/img/life2.png" alt="life_tip">
                  </a>
                </div> 
              </div>
              <!-- Slide-end -->
              <!-- Slide-start -->
              <div class="swiper-slide tip-slide">
                <div class="tip-slide-img">
                  <a href="https://happysat.tistory.com/187">

                    <img src="/static/img/life3.jpg" alt="life_tip">
                  </a>
                </div>  
              </div>
              <!-- Slide-end -->
            </div>
            <div class="slider-control">
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </section>
      <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
      

    <div class="footer">
      <!-- footer -->
    </div>
    <script src="/static/js/hyori.js"></script>
    <script src="/static/js/jiyoung.js"></script>
  </body>
</html>
