<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>오늘의 가계부</title>
    <!-- sweetalert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
      
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>


    <script src="/static/js/test.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
    <link rel="stylesheet" href="/static/css/main.css""/>
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/jiyoung.css" />
    <link rel="stylesheet" href="/static/css/sehee.css" />
    <link rel="stylesheet" href="/static/css/hyori.css" />
  </head>
  <body>
    <header>
      <div class="header_left">
        <div class="logo"><a href=""></a><img src="/static/img/pig2.png" alt="돼지 로고" width="37px"></div>
        <div class="h_tag"><p class="tag-icon">😢</p><p class="tag-name">#내가바로_요리왕</p></div>
      </div>
      <div class="header_center">
        <p><img src="/static/img/THA4.png" alt="..."></p>
      </div>
      <div class="header_right">
        <div class="position_shift">
          <input type="checkbox" id="dn_shift">
          <label for="dn_shift" class="toggle2_shift">
            <span class="toggle__handler_shift">   
            </span>
            <span class="content">&nbsp;&nbsp;&nbsp;&nbsp;tips&nbsp;&nbsp;&nbsp;가계부</span>

        </div>

        <div class="color_mode">
          <input type="checkbox" id="dn">
  <label for="dn" class="toggle2">
    <span class="toggle__handler"> 
       
    </span>
    <span class="content content_night">&nbsp;&nbsp;night</span>
    <span class="content content_day">&nbsp;day</span>
 </label>
      </div>
  </div>

    </header>
    <div class="container1">
      <div class="space"></div>
      <div class="article">
        <div class="article_left">
          <!-- 캘린더 입력 -->
          <div class="sec_cal">
            <div class="cal_nav">
              <a href="javascript:;" class="nav-btn go-prev">prev</a>
              <div class="year-month"></div>
              <a href="javascript:;" class="nav-btn go-next">next</a>
            </div>
            <div class="cal_wrap">
              <div class="days">
                <div class="day">MON</div>
                <div class="day">TUE</div>
                <div class="day">WED</div>
                <div class="day">THU</div>
                <div class="day">FRI</div>
                <div class="day">SAT</div>
                <div class="day">SUN</div>
              </div>
              <div class="dates"></div>
            </div>
          </div>
        </div>
        <div class="article_right">
          <div class="right_container">
            <div class="date_inf"></div>
            <ul class="list" type="none"></ul>  
          </div>
        </div>
      </div>
      <div class="article_footer">
        <!-- 입금 지출 form 입력 -->

        <div class="form-main-box">
          <button
            type="button"
            style="border: 2px solid #0081f3"
            class="btn btn-pay1"
            onclick="aa()"
          >
            입금
          </button>
          <button
            type="button"
            style="border: 2px solid #0081f3"
            class="btn btn-pay2"
            onclick="bb()"
          >
            지출
          </button>

          <div class="credit">
            
            <!-- 입금-->
            <div class="won"></div>
            
            <!--form에서 입력한 값-->
            <div class="breakdown1" style="font-size: 30px">
              <img src="../static/img/back.png" alt="back" class="backimg backimg1">
              <div class="input">
              <label style='color:#0081f3'>₩<input
                  type="text"
                  name="money"
                  id="money1"
                  onkeyup="inputNumberFormat(this)"
              /></label>

           
              <label style='color:#0081f3'>내역:<input type="text" name="list" id="name2" /></label>
            </div>


              
              
              <div class="d-flex">
                <button type="button" class="cd cd1">월급</button>
                <button type="button" class="cd cd2">용돈</button>
                <button type="button" class="cd cd3">이월</button>
                <button type="button" class="cd cd4">자산인출</button>
                <button type="button" class="cd cd5">기타</button>
              </div>
              <button type="submit" class="enter">확인</button>
            </div>
          </div>

          <div class="expense">
            <!--지출-->
            <div class="won"></div>
            <!--form에서 입력한 값-->
            <div class="breakdown2" style="font-size: 30px">
              <img src="../static/img/back.png" alt="back" class="backimg backimg2">
              <div class="input">
              <label>₩<input
                  type="text"
                  name="money"
                  id="money2"
                  onkeyup="inputNumberFormat(this)"
              /></label>
            
              
              <label>내역:<input type="text" name="list" id="name1" /></label></div>

              
              

              <div class="d-flex">
                <button type="button" class="ep ep1">식비</button>
                <button type="button" class="ep ep2">여행</button>
                <button type="button" class="ep ep3">건강</button>
                <button type="button" class="ep ep4">교통</button>
                <button type="button" class="ep ep5">주거</button>
                <button type="button" class="ep ep6">통신</button>
                <button type="button" class="ep ep7">카페</button>
                <button type="button" class="ep ep8">생활</button>
                <button type="button" class="ep ep9">기타</button>
              </div>
              <button type="submit" class="enter" >확인</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container2">
      <!-- 1인 꿀팁 -->
      <section id="tip">
        <div class="container">
          <h3 class="text tag ">  </h3>
          <h1 class="text tag_title"></h1>
        </div>
        <div class="container">
          <div class="swiper slider">
            <div class="swiper-wrapper">
              <!-- Slide-start -->
              <div class="swiper-slide tip-slide">
                <div class="tip-slide-img">
                  <img src="" class="photo" alt="tip" />
                  <a class="hover-text site" href="#"> </a>
                </div>
              </div>
              <div class="swiper-slide tip-slide">
                <div class="tip-slide-img">
                  <img src="" class="photo" alt="tip" />
                  <a class="hover-text site" href="#"> </a>
                </div>
              </div>
              <div class="swiper-slide tip-slide">
                <div class="tip-slide-img">
                  <img src="" class="photo" alt="tip" />
                  <a class="hover-text site" href="#"> </a>
                </div>
              </div>
              <!-- Slide-end -->
            </div>
           
<!-- 화살표 -->
<div class="swiper-button-prev"></div>
<div class="swiper-button-next"></div>
          </div>
        </div>
      </section>
      <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <div class="footer">

      <div class="footer-right">
        <div class="footer-right-left">
          오늘의 가계부
        </div>
        <div class="footer-right-right">
          <p class="t-lg">강민혁 | 이효리 | 정세희 | 정지영</p>
          <p>@copyright 2023 today`s account book</p>
          <p>2023/03/18 ~ 2023/03/24</p>
        </div>
      </div>
    </div>
    <script src="/static/js/hyori.js"></script>
    <script src="/static/js/jiyoung.js"></script>
  </body>
</html>