<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>오늘의 가계부</title>
    <link rel="stylesheet" href="/static/css/reset.css" />
    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        font-family: "Noto Sans KR", sans-serif;
      }

      .container {
        margin-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .title {
        margin: 10px;
        padding: 20px;
        font-weight: 700;
        font-size: 4rem;
      }

      .catchphrase {
        margin: 20px;
        padding: 30px;
        width: 800px;
        height: 200px;
        font-size: 1.5rem;
        text-align: center;
        line-height: 200px;
        color: black;
        background-color: #3a797f3f;
      }

      button {
        background-color: #3a797f3f;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
          0 2px 4px -1px rgba(0, 0, 0, 0.06);
        cursor: pointer;
        transition: 0.5s;
      }
      .yes {
        margin: 20px;
        width: 60px;
        height: 30px;
        font-size: 20px;
        text-align: center;
        line-height: 30px;
      }
      .no {
        margin: 20px;
        margin: 20px;
        width: 60px;
        height: 30px;
        font-size: 20px;
        line-height: 30px;
      }
    </style>
  </head>

  <body>

    <!-- tutorial -->
    <div class="container">
      <div class="title">
        <h1>오늘의 가계부</h1>
      </div>

      <div class="catchphrase">
        <p>저희 서비스를 이용한 경험이 있으신가요?</p>
      </div>

      <div class="button">
        <!-- 캘린더 페이지로 이동 -->
        <button type="button" class="yes" onclick="" ;>Yes</button>

        <!-- 소비성향 테스트로 이동 -->
        <button type="button" class="no" onclick="" ;>No</button>
      </div>

      <a href="/tutorial2">next</a>
    </div>
  </body>
</html>
