body {
  background: var(--bg-color);
}
header {
  height: 42px;
  width: 100%;
  background-color: #87b4fc;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 50;
  display: flex;
  justify-content: space-between;
}

header > .header_left,
header > .header_right {
  display: flex;
}

header > .header_left > .logo {
  margin-left: 0.8vw;
}

header > .header_left > .h_tag {
  background-color: white;
  height: 28px;
  margin: auto;
  line-height: 4.5vh;
  margin-left: 25px;
  border-radius: 30%;
  font-size: 0.5rem;
}

header > .header_right > .color_mode {
  margin: auto;
  margin-right: 1.5vw;
}
.space {
  height: 70px;
}
.right_container {
  height: 95%;
  border-top: 1.5px solid #498fff;
  border-bottom: 1.5px solid #498fff;
}

.article_right {
  background-color: --bg-color;
}

#dn {
  display: none;
}
.toggle2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-left: 75px;
  width: 56px;
  height: 32px;
  background: #dfe2e3;
  border-radius: 84px;
  transition: background 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.toggle2:before,
.toggle2:after {
  margin-top: 5px;
}
.toggle2:before {
  position: absolute;
  left: -85px;
  color: #749ed7;
}
.toggle2:after {
  position: absolute;
  right: -75px;
}
.toggle__handler {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  z-index: 2;
  background: #ffe5b5;
  background: #ffde7b;
  border-color: #debd56;
  box-shadow: none;
  background-size: 0;
  transition: transform 0.5s;
  border: 0.188em solid #caba94;
}
#dn:checked + .toggle2 {
  background: #dfe2e3;
}
#dn:checked + .toggle2:before {
  color: var(--font-color);
}
#dn:checked + .toggle2:after {
  color: var(--check-color);
}
#dn:checked + .toggle2 .toggle__handler {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: inline-block;
  transform: translate3d(28px, 0, 0) rotate(0);
  border: 0.188em solid #caba94;
  background: #ffefb5;
  box-shadow: inset -0.15em -0.15em #ffe096;
  background-image: radial-gradient(
      circle at 60% 10%,
      #e6cea5 15%,
      transparent 0
    ),
    radial-gradient(circle at 30% 50%, #e6cea5 10%, transparent 0),
    radial-gradient(circle at 60% 70%, #e6cea5 13%, transparent 0);
  transition: transform 0.2s ease-in-out, background 0.3s, border-color 0.3s;
}

:root {
  --pink-color: rgb(246, 231, 234);
  --bg-color: white;
  --font-color-disabled: #ddd;
  --font-color: black;
  --blue-color: #86a2d0;
  --click-color: rgb(246, 231, 234);
  --current-color: rgb(242 242 242);
}
.darkmode {
  --pink-color: #2e2e2e;

  --bg-color: #2e2e2e;
  --font-color-disabled: #252525;
  --font-color: grey;
  --blue-color: grey;
  --click-color: rgb(151, 138, 141);
  --current-color: rgb(139, 138, 138);
}

/* section calendar */

.sec_cal {
  width: 90%;
  height: 95%;
  font-family: "NotoSansR";
  margin: auto;
  border-top: 1.5px solid #498fff;
  border-bottom: 1.5px solid var(--blue-color);
}

.sec_cal .cal_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 70px;
  background: var(--pink-color);
  /* background-color: rgb(246, 231, 234); */
  height: 9vh;
}

.sec_cal .cal_nav .year-month {
  width: 100%;
  text-align: center;
  line-height: 1;
  color: #2c7bfb;
}

.sec_cal .cal_nav .nav {
  /* display: flex; */
  border: 1px solid #333333;
  border-radius: 5px;
}

.sec_cal .cal_nav .go-prev,
.sec_cal .cal_nav .go-next {
  /* display: block; */
  width: 50px;
  height: 78px;
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec_cal .cal_nav .go-prev::before,
.sec_cal .cal_nav .go-next::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 3px solid #000;
  border-width: 3px 3px 0 0;
  transition: border 0.1s;
}

.sec_cal .cal_nav .go-prev:hover::before,
.sec_cal .cal_nav .go-next:hover::before {
  border-color: #498fff;
}

.sec_cal .cal_nav .go-prev::before {
  transform: rotate(-135deg);
}

.sec_cal .cal_nav .go-next::before {
  transform: rotate(45deg);
}

.sec_cal .cal_wrap {
  padding-top: 10px;
  position: relative;
  margin: 0;
  height: 70%;
}

.sec_cal .cal_wrap .days {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.sec_cal .cal_wrap::after {
  top: 368px;
}

.sec_cal .cal_wrap .day {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: #666;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
  width: calc((100% - 1.4vw) / 7);
  margin: 0.1vw;
}

.current.today {
  background: var(--current-color);
}

.sec_cal .cal_wrap .dates {
  display: flex;
  flex-flow: wrap;
  height: 40vh;
}

.sec_cal .cal_wrap .day:nth-child(7n -1) {
  color: #3c6ffa;
}

.sec_cal .cal_wrap .day:nth-child(7n) {
  color: #ed2a61;
}

.sec_cal .cal_wrap .day.disable {
  color: var(--font-color-disabled);
}

.current:hover {
  background-color: var(--click-color);
  width: 100px;
}

.clicked {
  background: var(--click-color);

  /* background-color: rgb(246, 231, 234); */
}

.date_inf {
  height: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  color: var(--font-color);
}

.list {
  overflow-y: auto;
  overflow-x: hidden;
  height: 82%;
}

.list > .account-li {
  width: 100%;
  font-size: 1rem;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #a5c0ed;
  display: flex;
  color: var(--font-color);
}

.category {
  width: 25%;
  padding-left: 30px;
}
.list > li > .name {
  width: 40%;
}
.list > li > .price {
  width: 35%;
  text-align: right;
  padding-right: 30px;
}

.plus {
  color: blue;
}

.minus {
  color: red;
}

.modal_content {
  display: block;
}

.animate__backInRight {
  animation-duration: 1.5s;
}

.animate__backInLeft {
  animation-duration: 1.5s;
}

@media screen and (max-width: 576px) {
  .article {
    display: block;
    height: 100vh;
  }

  .article_left {
    width: 100%;
    height: 41vh;
  }

  .article_right {
    width: 90%;
    height: 50vh;
    margin: auto;
  }
  .sec_cal {
    height: 49vh;
  }

  .sec_cal .cal_nav {
    height: 15%;
    font-size: 1.5rem;
  }

  .sec_cal .cal_wrap {
    padding-top: 20px;
  }

  .sec_cal .cal_wrap .dates {
    height: 70%;
  }

  .list > .account-li {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
/* 
.clickedCd {
  background-color: #0081f3;
  color: white;
}

.clickedEp {
  background-color: #0081f3;
  color: white;
}
 */
/* 
.article {
  width: 100%;
  height: 70vh;
  background-color: beige;
  display: flex;
  flex-direction: row;
}

.article_left {
  width: 60%;
  height: 100%;
  background-color: beige;
}

.article_right {
  width: 40%;
  height: 100%;
  background-color: azure;
}


*/
