@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

@media (max-width: 500px) {
  .tip-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .tip-slide .tip-slide-img img {
    width: 28rem !important;
    height: 36rem !important;
  }
  .slider {
    height: 45rem;
  }
}

html {
  font-family: "Noto Sans KR", sans-serif;
}

.container {
  max-width: 100rem;
  padding: 0 1rem;
  margin: 0 auto;
  
}

.tag {
  text-align: center;
  color: #feccbe;
  font-weight: 500;
  font-size: 1.5rem;
}
.tag_title {
  color: #3784ff;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  padding: 1rem;
}

#tip {
  padding: 3rem 0;
}

.tip-slide {
  width: 20rem;
  height: 30rem;
  position: relative;
}

.tip-slide .tip-slide-img img {
  width: 20rem;
  height: 30rem;
  border-radius: 2rem;
  object-fit: cover;
}

/* 이미지에 커서 올리면 제목 보이게 */
/* 반응형 구현 해야함 */
img {
  vertical-align: top;
}
.tip-slide-img:hover:after,
.tip-slide-img:hover > .hover-text {
  display: block;
}
.tip-slide-img:after,
.hover-text {
  display: none;
}

.tip-slide-img:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  border-radius: 7%;
}

.tip-slide-img {
  overflow: hidden;
}

.tip-slide-img img {
  height: 340px;
}

.tip-slide-img:hover img {
  border-radius: 6%;
}

.hover-text {
  text-decoration-line: none;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 20%;
  color: #fff;
  z-index: 2;
  font-weight: 700;
  font-size: 1.5rem;
}

/* 슬라이드 화살표 */

@media (max-width: 990px) {
  .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
   .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
   .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
  .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: #3784ff;
}

