@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); 


@media (max-width:500px) {
  .tag-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .tag-slide .tag-slide-img img {
    width: 28rem !important;
    height: 36rem !important;
  }
}


html {
  font-family: 'Noto Sans KR', sans-serif;
}

.container {
 /*  max-width: 150rem; */
  padding: 0 1rem;
  margin: 0 auto;
}

.text {
  text-align: center;
}

.tag_title {
  font-size: 3rem;
  padding: 2rem;
}

#tag {
  padding: 4rem 0;
}

#tag .tag-slider {
  height: 40rem;
  padding: 2rem 0;
  position: relative;
}

.tag-slide {
  width: 30rem;
  height: 40rem;
  position: relative;
}


.tag-slide .tag-slide-img img {
  width: 30rem;
  height: 40rem;
  border-radius: 2rem;
  object-fit: cover;
}

.tag-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


