body {
  font-family: "Noto Sans KR", sans-serif;
}

.container1 {
  width: 100%;
  height: 100vh;
}

.container2 {
  width: 100%;
  height: 100vh;
}

.article {
  width: 100%;
  height: 59vh;
  display: flex;
  flex-direction: row;
}

.article_left {
  width: 55%;
  height: 100%;
}

.article_right {
  width: 45%;
  height: 100%;
}

.article_footer {
  width: 100%;
  height: 30vh;
  background-color: blue;
}

.footer {
  width: 100%;
  height: 20vh;
  background-color: #3874ff;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  font-weight: 600;
  padding: 2rem 0;
}

.footer-left {
  width: 20%;
  height: 100%;
  font-size: 2rem;
  position: relative;
}

.footer-left img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.footer-right-left {
  width: 100%;
  height: 100%;
  font-size: 2rem;
}

.footer-right-right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: end;
}

.footer-right-right p {
  padding: 0.2rem;
}

.t-lg {
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .footer-right-left {
    font-size: 1.5rem;
  }

  .t-lg {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 425px) {
  .footer-right-left {
    font-size: 1.2rem;
  }

  .footer-right-right p {
    font-size: 0.8rem;
  }

  .t-lg {
    font-size: 1.2rem !important;
  }
}