.container1 {
    width: 100%;
    height: 100vh;
    background-color: skyblue;
}

.container2 {
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
}

.article {
    width: 100%;
    height: 70vh;
    background-color: beige;
    display: flex;
    flex-direction: row;
}

.article_left {
    width: 50%;
    height: 70vh;
    background-color: red;
}

.article_right {
    width: 50%;
    height: 70vh;
    background-color: azure;
}

.article_footer {
    width: 100%;
    height: 30vh;
    background-color: blue;
}

.footer {
    width: 100%;
    height: 30vh;
    background-color: aqua;
}