.article_footer {
  width: 100%;
  height: 30vh;
  background-color: #6fb1b4;
  position: relative;
  display: inline-block;
}
.form-main-box {
  width: 95%;
  height: 26vh;
  background-color: #f0f5f2;
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  top: 0;
  left: 30px;
  bottom: 0;
  margin: auto 0;
  border-radius: 30px 30px 30px 30px;
  font-size: 100px;
}
.credit {
  width: 100%;
}

.expense {
  width: 100%;
}

.btn:hover {
  background-color: #274b58;
  color: white;
}

.btn {
  background-color: #f2d58f;
  color: #274b58;
  cursor: pointer;
  width: 15rem;
  border-radius: 30px 30px 30px 30px;

  padding: 15px;
  text-align: center;
  display: flex;
  font-size: 35px;
  top: 30%;
  left: 30%;
  justify-content: space-around;
  position: absolute;
}

.btn-pay1 {
  text-align: center;
}

.btn-pay2 {
  text-align: center;

  margin-left: 20%;
}

.cd,
.ep {
  background-color: #eed6e7;
  border: 0 solid black;
  border-radius: 30px 30px 30px 30px;
}

.ep:hover {
  background-color: #0081f3;
  color: white;
}

.cd:hover {
  background-color: #0081f3;
  color: white;
}

.cd,
.ep {
  position: relative;
  padding: 20px;
  top: 0.8rem;
}

#money {
  width: 60%;
  height: 8vh;
  font-size: 40px;
  border-radius: 30px 30px 30px 30px;
  border: 0;
  text-align: center;
}

#list {
  background-color: #f0f5f2;
  width: 60%;
  height: 6vh;
  font-size: 30px;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
}

.breakdown2 {
  width: 80%;
  font-size: 40px;
  display: none;
  position: relative;
  flex-direction: column;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
}

.breakdown1 {
  width: 60%;
  font-size: 40px;
  display: none;
  position: relative;
  flex-direction: column;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
}

input:focus {
  outline: none;
}

.d-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.enter {
  position: absolute;
  background-color: #274b58;
  color: white;
  font-size: 1.5rem;
  border-radius: 30px 30px 30px 30px;
  border: 0;
  text-align: center;
  padding: 3%;
  left: 85%;
  top: 5%;
}

.enter:hover {
  background-color: #0081f3;
  color: white;
}
