:root {
  --box-color: rgb(246, 231, 234);
  --button-color: white;
  --bg-color: white;
}

.darkmode {
  --box-color: rgb(82, 81, 81);
  --button-color: grey;
  --bg-color: #2e2e2e;
}

/* 
:root {
  --pink-color: rgb(246, 231, 234);
  --button-color: var(--button-color);
  --font-color-disabled: #ddd;
  --font-color: black;
  --blue-color: #86a2d0;
}
.darkmode {
  --pink-color: #2e2e2e;

  --button-color: #2e2e2e;
  --font-color-disabled: #252525;
  --font-color: grey;
  --blue-color: grey;
}

*/
.article_footer {
  width: 100%;
  height: 30vh;
  background-color: var(--bg-color);
  position: relative;
  display: inline-block;
  font-family: "Noto Sans KR", sans-serif;
}

.form-main-box {
  width: 98%;
  height: 26vh;
  background-color: var(--box-color);
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  border: 2px solid #0081f3;
  border-radius: 30px 30px 30px 30px;
  text-align: center;
}

.credit {
  width: 100%;
  display: flex;
}

/* 입금버튼 후에 뜨는 전체 클래스 */

.expense {
  width: 100%;
  display: flex;
}

/* 지출버튼 후에 뜨는 전체 클래스 */

.btn:hover {
  background-color: #274b58;
  color: var(--button-color);
}

.btn {
  background-color: var(--button-color);
  color: #0081f3;
  cursor: pointer;
  width: 15vw;
  height: 60px;
  border-radius: 30px 30px 30px 30px;
  text-align: center;
  display: flex;
  font-size: 2rem;
  margin: auto;
  justify-content: center;
  left: 18%;
  transition: 0.5s;
  display: none;
  align-items: center;
}

.btn-pay1 {
  text-align: center;
}

.btn-pay2 {
  text-align: center;
  /* 
  margin-left: 18%; */
}

.cd,
.ep {
  width: 4rem;
  font-size: 50%;
  margin: 0.3rem;
  background-color: #eed6e7;
  border: 0 solid black;
  border-radius: 50%;
  height: 4rem;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  text-align: center;
  font-weight: 700;
}

.ep:hover {
  background-color: #0081f3;
  color: var(--button-color);
}

.cd:hover {
  background-color: #0081f3;
  color: var(--button-color);
}

.cd:active {
  cursor: pointer;
  background-color: #0081f3;
  color: var(--button-color);
}

.ep:active {
  cursor: pointer;
  background-color: #0081f3;
  color: var(--button-color);
}

#money1,
#money2 {
  background-color: rgb(246, 231, 234);
  width: 80%;
  height: 6vh;
  font-size: 1.5rem;
  border: none;
  border-bottom: 1px solid #0081f3;
  text-align: center;
}

#name1,
#name2 {
  background-color: rgb(246, 231, 234);
  width: 80%;
  height: 6vh;
  padding-top: 10px;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid #0081f3;
  text-align: center;
}

label {
  font-size: 1rem;
}

.input {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.breakdown1,
.breakdown2 {
  font-size: 40px;
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
}

input:focus {
  outline: none;
}

.d-flex {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

.enter {
  background-color: #274b58;

  color: var(--button-color);
  font-size: 1rem;

  border-radius: 30px 30px 30px 30px;
  border: 0;
  width: 10%;
  justify-content: center;
  align-items: center;
  margin: 3rem 1rem 3rem 1rem;
  transition: 0.5s;
}

.enter:hover {
  background-color: #0081f3;
  color: var(--button-color);
}

.backimg {
  width: 10%;
  height: 30%;
}

.backimg:hover {
  cursor: pointer;
}

@media screen and (max-width: 1180px) {

  .cd,
  .ep {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 650px) {
  .container1 {
    height: 140vh;
  }

  .form-main-box {
    width: 90%;
  }

  .btn {
    font-size: 1rem;
  }

  .enter {
    font-size: 1rem;
  }

  .backimg {
    height: 30%;
  }
}

@media screen and (max-width: 550px) {

  #name1 {
    width: 50%;
  }

  .header_center,
  .position_shift {
    display: none;
  }

}

@media screen and (max-width: 460px) {
  label {
    font-size: 0.7rem;
  }

  .cd {
    width: 2.5rem;
    height: 2.5rem;
  }

  .ep {
    width: 2rem;
    height: 2rem;
  }

  #name2 {
    width: 60%;
  }
}

@media screen and (max-width: 460px) {
  label {
    font-size: 0.5rem;
  }

  .ep {
    width: 1.7rem;
    height: 1.7rem;
    font-size: 0.4rem;
  }

  #money1,
  #money2 {
    font-size: 1rem;
  }

  #name1,
  #name2 {
    width: 50%;
  }
}