body {}

.result {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    font-family: "Noto Sans KR", sans-serif;
    background-image: url(/static/img/background-pig2.png);
    background-size: cover;
}

.outer-result {
    width: 100%;
    height: 80vh;
    padding-top: 10vh;

}

.inner-result {
    width: 70%;
    min-width: 520px;
    height: 80vh;
    margin: 0 auto;
    border-radius: 3rem;
    font-size: 2rem;
}

.padding-setter {
    padding: 3rem;
}

.bg-setter {
    background-color: #f4f4f4;
    padding: 3rem;
    margin-top: 3rem;
    border-radius: 1rem;
    color: #3784ff;
}

.bg-setter b {
    background-color: #3784ff;
    color: #feccbe;
    padding: 0.5rem;
    padding-top: 0;
    padding-bottom: 0;
}

.result-tag {
    width: 40%;
    height: 4rem;
    background-color: #f4f4f4;
    color: black;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    line-height: 4rem;
    font-size: 1.4rem;
}

.result-tag:nth-child(2) {
    margin-top: 3rem;
}


.tag-icon {
    width: 20%;
    text-align: center;
    font-size: 2.5rem;
}

.tag-name {
    width: 80%;
    text-align: left;
}

.inner-result p {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    font-size: 1.8rem;
    font-weight: 300;
    text-align: left;
}

.d-flex-setter h2 {
    font-size: 3.5rem;
    font-weight: 700;
    color: #feccbe;
}

.d-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
    height: 40vh;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.link-left {
    width: 40%;
    height: 100%;
}

.link-left img {
    width: 100%;
    height: 100%;
}

.link-right {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.href-main {
    width: 100%;
    display: inline-block;
    text-align: right;
    margin-top: 3rem;
    text-decoration: none;
    color: black;
}

.href-main span {
    padding: 1rem;
    background-color: #f4f4f4;
    border-radius: 1rem;
    font-size: 1.5rem;
}

.link-img {
    border-radius: 3rem;
}

.submit_btn {
    width: 8rem;
    line-height: 2rem;
    text-align: center;
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    margin-top: 15rem;
}

.submit_btn:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn-green {
    background-color: #6fb1b4;
    color: #fff;
}

.animate__fadeInLeft {
    animation-duration: 2s;
}

@media screen and (max-width: 1940px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 1440px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 640px) {
    html {
        font-size: 11px;
    }
}

@media screen and (max-width: 576px) {
    html {
        font-size: 10px;
    }

    .inner-result {
        min-width: 300px !important;
    }

    .d-flex-setter {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .result-tag:nth-child(2) {
        margin-top: 0;
    }

    .d-flex {
        flex-direction: column;
    }

    .link-left {
        width: 100%;
    }

    .link-right {
        width: 100%;
    }

    .link-right h2,
    h3,
    h4 {
        font-size: 1.5rem !important;
        padding: 0.3rem;
    }

}